.movieDesc {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.7) 50%, rgba(0, 0, 0, 0.9) 100%),
    url('/assets/images/movies_scatch_large.jpg');
  background-position: center;
  background-repeat: no-repeat;
  min-height: 260px;
  max-height: 520px;
  overflow: hidden;
  padding-top: 70px;
  padding-bottom: 70px;

  .container {
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
    display: flex;
  }

  &__poster {
    flex: 0 0 auto;
    height: 100%;
    width: 250px;
    margin-right: 50px;
  }

  &__img {
    display: block;
    height: 100%;
    width: 100%;
  }

  &__header {
    display: flex;
    align-items: center;
  }

  &__title {
    font-size: 60px;
    margin: 0 25px 0 0;
  }

  &__content {
    & > :not(:last-child) {
      margin-bottom: 25px;
    }
  }

  &__params {
    & > :not(:last-child) {
      margin-right: 25px;
    }
  }

  &__overview {
    line-height: 1.5;
  }
}
