.search-filter {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0.9) 100%),
    url('/assets/images/movies_scatch_large.jpg');
  background-position: center;
  background-repeat: no-repeat;
  height: 396px;
  overflow: hidden;
  padding-top: 70px;

  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 60px;
  }

  &__title {
    font-weight: 300;
    font-size: 40px;
    text-transform: uppercase;
  }

  &__search {
    display: grid;
    grid-template-columns: 1fr 300px;
    gap: 25px;
    margin-bottom: 25px;
  }

  &__search-by {
    text-transform: uppercase;
    margin: 25px;
  }
}
