.input-field {
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(0, 0, 0, 0.8) 10%,
    rgba(0, 0, 0, 0.9) 50%,
    rgba(0, 0, 0, 0.8) 90%,
    rgba(0, 0, 0, 0.5) 100%
  );
  background-color: transparent;
  height: 60px;
  font-size: 20px;
  color: #ffffff;
  padding: 0 20px;
  border-radius: 4px;
  border: none;
}
