.rating {
  flex: 0 0 auto;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid #ffffff;
  height: 70px;
  width: 70px;
  font-size: 30px;
  color: #a1e66f;
}
