.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  background-color: #f65261;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 500;
  font-size: 20px;

  border-radius: 4px;
  border: none;
  padding: 0 25px;
  height: 60px;

  &:not([disabled]) {
    cursor: pointer;
  }

  &.small {
    height: 35px;
    font-size: 16px;
  }

  &.secondary {
    background-color: rgba(66, 66, 66, 0.6);
  }
}
